# https://dart.dev/guides/libraries/private-files
.dart_tool/

# Flutter-related
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Symbol lookup and code completion for IDEs
.idea/
.vscode/
*.iml

# Lock files
# pubspec.lock
